@{
    ViewData["Title"] = "Add a Blog";
    Layout = "~/Views/Shared/_Layout5.cshtml";
}

@model SeafoodCod.Models.Marketing



@*<h3>SON OF COD SEAFOOD, NATURAL, SUSTAINABLE. IT’S THE CONSUMER’S PREFERENCE.</h3>
<p>
    For the best service and fast delivery let us provide you what you need. We will ship
    to your company free of charge and we gurantee that you will be satisfied.
</p>
<br />
<img class="img" src="http://i.justcooking.in/media/salmonsteak.jpg" alt="fish steak" />*@

@using (Html.BeginForm())
{
    <h2> Edit this Marketing: @Html.DisplayFor(model => model.Title)</h2>
    <hr />

        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.MarketingId)

            @Html.LabelFor(model => model.Title)
            @Html.EditorFor(model => model.Title)
            <br /><br />
            @Html.LabelFor(model => model.Img)
            @Html.EditorFor(model => model.Img)
            <br /><br />
            @Html.LabelFor(model => model.Description)
            @Html.TextAreaFor(model => model.Description)
            <br /><br />

            <input type="submit" value="Save" class="btn btn-primary" />

        }

}

