@{
    ViewData["Title"] = "Add a Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using SeafoodCod.ViewModels

@model RegisterViewModel

<div class="padding-huge"></div>
    <h1>Newsletter Sign Up</h1>
    @using (Html.BeginForm("Register", "Newsletter", FormMethod.Post))
    { @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)

        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)

        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)

        <input type="submit" value="Register" />
    }